<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MUDIC LIB{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'song/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="/">
                    <img src="{% static 'song/logo.png' %}" alt="Home" class="logo-image">
                </a>
            </div>
            <ul>
                <li><a href="{% url 'singer:singer_list' %}">Singers</a></li>
                <li><a href="{% url 'singer:singer_list' %}">Search</a></li>
                <li><a href="{% url 'account:set_username' %}">Account</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Echollect: All rights reserved.</p>
        <p>python assignment I</p>
    </footer>
</body>
</html>