body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 20px;
    background-color: #070707;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    height: 100px;
    width: 300px;
    vertical-align: middle;
    border: none !important;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li + li {
    margin-left: 100px;
}

nav ul li a {
    color: #7C36EC;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

main {
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
}

.hero-section {
    text-align: center;
    padding: 20px 20px;
    background-color: #f3e3fd;
    margin-bottom: 20px;
}

.hero-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

.hero-section h4 {
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
}

.left-pane {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-pane {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.username-container {
    text-align: center;
    padding: 0px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.username-container h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.username-container button {
    padding: 15px 30px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.username-container button[value="set_username"] {
    background-color: #7C36EC;
    color: #fff;
}

.username-container button[value="set_username"]:hover {
    background-color: #6a2dc7;
}

.username-container button[value="clear_username"] {
    background-color: #dc3545;
    color: #fff;
}

.username-container button[value="clear_username"]:hover {
    background-color: #c82333;
}

.username-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.username-container input[type="text"] {
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    box-sizing: border-box;
}
